<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문 페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1>Order</h1> <hr>
    <form action="/banabada/orders" method="POST">
        상품 <input type="text" name="itemName"><br>
        결제 수단 <input type="text" name="payMethod"><br>
        <button type="submit">결제하기</button>
    </form> <br>

</body>
</html>