<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE HTML>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <title>결제조회</title>
<head/>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>사용자</th>
        <th>주소</th>
        <th>주문 상태</th>
        <th>배송 상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td th:text="${order.member.getId()}"></td>
        <td th:text="${order.orderItems.orderPrice}"></td>
        <td th:text="${order.orderItems.count}"></td>
        <td th:text="${order.delivery.address}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.delivery.status}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>